
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
target/classes/config.yml
target/classes/me/trueprotocol/dispensables/commands/DispensablesCommand.class
target/classes/me/trueprotocol/dispensables/commands/DispenserCommand.class
target/classes/me/trueprotocol/dispensables/commands/DropperCommand.class
target/classes/me/trueprotocol/dispensables/commands/HopperCommand.class
target/classes/me/trueprotocol/dispensables/Dispensables.class
target/classes/me/trueprotocol/dispensables/gui/ClickInventory.class
target/classes/me/trueprotocol/dispensables/gui/CloseInventory.class
target/classes/me/trueprotocol/dispensables/listeners/CancelDispense.class
target/classes/me/trueprotocol/dispensables/listeners/CancelDrop.class
target/classes/me/trueprotocol/dispensables/listeners/CancelHop.class
target/classes/me/trueprotocol/dispensables/listeners/PlayerJoin.class
target/classes/me/trueprotocol/dispensables/UpdateChecker.class
target/classes/plugin.yml
target/Dispensables-1.5.1.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/original-Dispensables-1.5.1.jar
.idea/modules.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_30.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_18_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
.idea/libraries/Maven__org_bstats_bstats_bukkit_3_0_0.xml
.idea/libraries/Maven__org_bstats_bstats_base_3_0_0.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_16_R0_4.xml
.idea/libraries/Maven__dev_dejvokep_boosted_yaml_spigot_1_2.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_guava_guava_31_0_1_jre.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_7_1.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_9.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
*.jar
